*{
  padding:0;
  margin:0;
  list-style-type:none;
  text-decoration: none;
}

body{
  font-family:"Open Sans", sans-serif;
  font-weight:600;
  background-image: url(./res/1.jpg);
  background-repeat: no-repeat;
background-size: cover;

  
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    color: white;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #222;
    color: #BDBDBD;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  input[type=submit]:hover{
      color: red;
  }

  .center h1{

    color: black;
    font-weight: 885px;
    margin-top: 10px;
    text-align: center;
}

.center p{

    color: black;
    font-size: 25px;
    font-weight: 885px;
    margin-top: 10px;
    text-align: center;
}

.iframe {
  text-align: center;

}